.top_img{
text-align: center !important;
padding-top: 2.5% !important;
}

body{
  background-image: url(back.png);
}

.text{
  text-align: center;
font-family: "Nico Moji";
font-size: 30px;
line-height: 200%;
}


@keyframes anime{
0%{transform:scale(.95); opacity:1}
90%{opacity:.1}to{transform:scale(1.2,1.5); opacity:0}
}


.btn {
  position: relative;
  width: 250px;
  margin: 40px auto;
  transition: .2s;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 32px;
  background: #ffaaae;
  border: 1px solid #ff999e;
  transform: translate3d(0,0,0);
}
.btn:before {
  animation: anime 2s ease-out infinite;
}
.btn:after {
 animation: anime 2s ease-out 1s infinite;
}

a {
  display: block;
  padding: 20px 0;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #c81c14;
  font-size: 30px;
}
span {
  display: block;
  position: relative;
  font-family: "Nico Moji";

}
span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 0;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: translateX(5px) rotate(45deg);
}
