/*タブレット向けレイアウト　*/
@media (max-width: 1000px){
    body{
        width: 50%;
        display: inline-block;
        text-align: center;
    }
    .animsition{
        display: inline-block;
        text-align: center;
        margin-left: 125px;
        margin-top: 100px;
    }
}

/*スマートフォン向けレイアウト　*/
@media (max-width: 670px){
    .text{
        font-size: 20px;
    }
    .top_img img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .animsition{
        display: inline-block;
        text-align: center;
        margin-left: 40px;
        margin-top: 60px;
        width: 150%;
    }
}